<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.socialtouch.android"
    android:versionCode="1"
    android:versionName="1.0 beta1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
   		 		<action android:name="android.nfc.action.TECH_DISCOVERED"/>
			</intent-filter>
			<meta-data android:name="android.nfc.action.TECH_DISCOVERED"
    			android:resource="@xml/nfc_tech_filter" />
        </activity>
    </application>
    
    

</manifest>